@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/sf-pro-text_regular.woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display_regular.woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display_semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display_bold.woff2');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", sans-serif;
}

a {
    text-decoration: none !important;
}

/* HEADER */
.navbar a {
    color: inherit !important;
}

.header .logo-container img {
    height: 120px;
}

.cart-container:hover {
    cursor: pointer;
}

.fa-home {
    font-size: 1.5rem;
}

/* CAROUSEL */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    cursor: pointer;
}

.carousel-control-prev, .carousel-control-next {
    opacity: 0;
    transition: 0.3s;
    color: white;
}

#carousel-home:hover .carousel-control-prev {
    left: 20px;
    opacity: 1;
}

#carousel-home:hover .carousel-control-next {
    right: 20px;
    opacity: 1;
}

/*--------------------New Releases----------------*/
.new-releases {
    color: #21252f;
}
.new-releases:hover {
    color: grey;
    cursor:pointer;
}
.container-fluid {
    cursor:pointer;
}
/* PRODUCT LIST */
h2.title:before {
    margin-right: 10px;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background: #ef2840;
}

h2.title {
    font-family: "SF Pro Display", sans-serif;
    font-size: 1.75rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.card-cart {
    opacity: 0;
    transition: 0.3s;
    white-space: nowrap;
}

.card:hover .card-cart {
    opacity: 1;
}

.sticker .sticker-sale {
    position: absolute;
    width: 50px;
    top: 10px;
    height: 50px;
    right: 10px;
}

.card-fav-container {
    height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
}

.card:hover .card-fav-container {
    opacity: 1;
}

.card-image .card-fav {
    padding: 10px;
    color: white;
}

/* Multiple Item Carousel */
@media (max-width: 767px) {
    .carousel-multiple .carousel-inner .carousel-item-right.active,
    .carousel-multiple .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-multiple .carousel-inner .carousel-item-left.active,
    .carousel-multiple .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 768px) {
    .carousel-multiple .carousel-inner .carousel-item-right.active,
    .carousel-multiple .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-multiple .carousel-inner .carousel-item-left.active,
    .carousel-multiple .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {
    .carousel-multiple .carousel-inner .carousel-item-right.active,
    .carousel-multiple .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-multiple .carousel-inner .carousel-item-left.active,
    .carousel-multiple .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-multiple .carousel-inner .carousel-item.active,
.carousel-multiple .carousel-inner .carousel-item-next,
.carousel-multiple .carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-multiple .carousel-inner .carousel-item-right,
.carousel-multiple .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

/* FEATURED CATEGORIES */
#featured-categories img {
    transition: 0.6s;
}

#featured-categories .img-container {
    overflow: hidden;
}

#featured-categories img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    opacity: 0.8;
}

/* FOOTER */
footer {
    background-color: whitesmoke;
    font-size: 12px;
}

i.fab {
    font-size: 25px;
}

#social-media a {
    color: black;
}

i.fab.fa-facebook-square:hover {
    color: #1198f5;
}

i.fab.fa-youtube-square:hover {
    color: red;
}

i.fab.fa-instagram-square:hover {
    color: #c837ac;
}

i.fab.fa-tumblr-square:hover {
    color: #314358;
}

i.fab.fa-twitter-square:hover {
    color: #1c9cea;
}

/* CART */
#cart {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: whitesmoke;
    height: 100%;
    width: 400px;
    z-index: 10;
}

.cart-title-container, .cart-total {
    height: 70px;
}

.close:hover {
    cursor: pointer;
}

.cart-content {
    height: calc(100vh - 140px);
    overflow: auto;
}

.cart-content button {
    height: 38px;
}

.cart-close:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .header .logo-container img {
        height: 70px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: white;
    }

    .wrapper {
        position: relative;
        top: 100px;
    }

    .navbar .form-group {
        padding: 0 16px 16px;
        width: 100%;
    }

    .menu-items {
        width: 100%;
    }
    img.img-fluid {
        width: 30%;
    }
    #introduction, #contact-detail {
        padding-left: 30px;
    }
}