<div id="cart">
    <div class="cart-title-container p-4 d-flex justify-content-between align-items-center font-weight-bold">
        <div class="cart-title m-0 h5">Cart</div>
        <div class="cart-close">&#10005;</div>
    </div>
    <div class="cart-content border-top border-bottom">
        <div class="row py-4 mx-4 border-bottom">
            <div class="col-4 d-flex align-items-center">
                <img src="/images/product-image-1.webp" class="img-fluid">
            </div>
            <div class="col-8">
                <div class="cart-product-name">willow - lonely witch version digital download</div>
                <div class="cart-product-price">$0.99</div>
                <div class="cart-quantity-control d-flex justify-content-around align-items-center mt-2">
                    <form class="form-group row m-0">
                        <div class="col-3 p-0">
                            <button class="btn btn-danger btn-sm form-control">&minus;</button>
                        </div>
                        <div class="col-6 p-0">
                            <input type="number" value="0" class="form-control">
                        </div>
                        <div class="col-3 p-0">
                            <button class="btn btn-danger btn-sm form-control">&#43;</button>
                        </div>
                    </form>
                    <a class="cart-remove text-dark ml-4" href="#">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-total d-flex justify-content-center align-items-center p-3">
        <button class="btn btn-danger btn-block">Cart
            <span class="cart-value">$9.99</span>
        </button>
    </div>
</div>