<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <meta property="og:image" content="http://gatgat.herokuapp.com/img/apple-music-image.png">-->
    <meta name="description"
          content="Build your dream music collection with our wide selection of albums including new releases, bestsellers, and retro classics.">
    <title>Xshady Records</title>
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon-180.png">-->
    <!--    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32.png">-->
    <script src="https://kit.fontawesome.com/2a33a147b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="css/bootstrap-dark.min.css">-->
    <!--    <link rel="stylesheet" href="css/toggle-bootstrap.css">-->
    <!--    <link rel="stylesheet" href="css/toggle-bootstrap-dark.css">-->
    <link rel="stylesheet" href="/css/style.css">
</head>